@model IEnumerable<Modelo.EstudianteModelo>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Estudiante/Crud" class="btn btn-primary">Nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Identifación</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.NombreCompleto</td>
            <td>@item.NoIdentificacion</td>
            <td>@item.Email</td>
            <td>
                <a href="~/Estudiante/Crud/@item.Id" class="btn btn-warning">Editar</a>
                <a href="~/Estudiante/DeleteEstudiante/@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        }


    </tbody>
</table>



